{% block content %}
    <h2>Linije</h2>
    <ul>
        {% for linija in object_list %}
            <li>
                Ime linije: {{ linija.ime }}<br>
                Vrijeme polaska: {{ linija.vrijeme_polaska }}<br>
                Autobus: {{ linija.autobus }}<br>
                Stanice: 
                {% for stanica in linija.stanice.all %}
                <p>
                    {{ stanica.ime }}<br>
                </p>
                {%endfor%}<br>
                <br>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
<!-- ovdje prikazujemo sve stanice za svaku liniju tako da ne trebamo poseban html di listamo entitet stanicalinija -->